<a href="https://colab.research.google.com/github/Gabriel-data/Colab/blob/main/c_pia_de_es_dim_teste_23_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTAR DATASET

In [2]:
# IMPORTAÇÃO PCTO PANDAS
import pandas as pd
p1_t = pd.read_csv ('/content/drive/MyDrive/0_Chamados/AÇÕES/MAPEAR_PESOS_MEDIDAS_SUC_X_PORTAL/Extract_bases/h1_t.csv', delimiter = ',')
h1_t = pd.read_csv ('/content/drive/MyDrive/0_Chamados/AÇÕES/MAPEAR_PESOS_MEDIDAS_SUC_X_PORTAL/Extract_bases/p1_t.csv', delimiter = ',')


display(p1_t)
display(h1_t)

,Val_Estoq,Val_Peso_Dime,Val_Preco,Val_CNPJ,Val_Ref,Val_Cat,Val_Marca,Val_Tipo,ES_e_DIM,mkp,estoq_h,peso_h,altu_h,larg_h,profu_h,preco_h,dt_atu_h,dt_atu_pe,Fim_ES_e_DIM
0,OK,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010849,874.0,5.200,34.0,54.00,65.5,1328.90,2023-03-16 17:15:43,2023-03-23 02:37:25,>> Fim ES e DIM >>
1,NOK_Estoq,NOK_Dime,OK,OK,NaN,OK,OK,OK,>> ES e DIM H >>,MKP000278003132,116.0,0.500,15.0,15.00,15.0,142.90,2020-04-12 08:13:03,2023-03-23 02:37:24,>> Fim ES e DIM >>
2,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000323019356,0.0,104.000,121.0,97.00,167.0,2650.89,2023-03-16 17:20:36,2023-02-17 05:22:51,>> Fim ES e DIM >>
3,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000323019391,0.0,78.000,86.0,95.00,125.0,2066.79,2023-03-16 17:20:36,2023-02-17 08:02:27,>> Fim ES e DIM >>
4,OK,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010951,0.0,11.300,93.8,33.60,30.1,1213.90,2023-03-16 17:15:41,2023-03-22 19:36:01,>> Fim ES e DIM >>
5,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278011093,5805.0,0.270,23.4,33.00,50.0,178.90,2023-03-16 17:15:39,2023-03-23 03:07:38,>> Fim ES e DIM >>
6,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010848,308.0,20.000,115.5,39.70,42.4,1708.90,2023-03-16 17:15:45,2023-03-23 02:37:23,>> Fim ES e DIM >>
7,NOK_Estoq,OK,OK,OK,NaN,OK,OK,OK,>> ES e DIM H >>,MKP000278000459,0.0,0.050,14.2,18.00,32.3,39.90,2023-03-16 16:31:35,2023-03-01 12:46:58,>> Fim ES e DIM >>
8,OK,NaN,OK,OK,NaN,NaN,NaN,NaN,>> ES e DIM H >>,MKP000278003067,0.0,NaN,NaN,NaN,NaN,97.90,NaN,2023-03-22 19:56:30,>> Fim ES e DIM >>
9,NOK_Estoq,NOK_Dime,OK,OK,NaN,NaN,OK,OK,>> ES e DIM H >>,MKP000278004180,11759.0,0.613,14.5,3.50,52.0,66.68,2020-04-11 17:41:03,2023-03-23 02:37:24,>> Fim ES e DIM >>
10,OK,NOK_Dime,OK,OK,NaN,NaN,NOK_Marc,OK,>> ES e DIM H >>,MKP000278003595,223.0,1.945,4.8,54.79,22.2,628.90,2020-04-11 12:11:03,2023-03-22 19:35:59,>> Fim ES e DIM >>

,es_dim_p,mkp,estoq_p,peso_p,altu_p,larg_p,prof_p,dt_alt_p,preco_p,qt_es_n_p,refe_p,idpr_p,es_e_dim
0,> ES_DIM_p >>,MKP000278000459,0.0,0.050,14.2,18.0,32.3,2023-03-01 12:24:29.522,39.90,0.0,688,6432416,>>Fim ES e DIM>>
1,> ES_DIM_p >>,MKP000278003067,0.0,0.290,20.5,18.0,8.0,2023-03-22 19:35:42.620,0.00,0.0,3973,6427419,>>Fim ES e DIM>>
2,> ES_DIM_p >>,MKP000278003132,116.0,0.690,12.5,23.0,23.5,2023-03-23 02:27:30.565,142.90,116.0,4097,6427435,>>Fim ES e DIM>>
3,> ES_DIM_p >>,MKP000278003595,223.0,1.435,23.5,25.5,55.5,2023-03-22 19:35:42.401,628.90,223.0,4622,6428093,>>Fim ES e DIM>>
4,> ES_DIM_p >>,MKP000278004180,11759.0,0.645,23.5,33.0,53.5,2023-03-23 02:30:40.615,66.68,11759.0,4956,6428590,>>Fim ES e DIM>>
5,> ES_DIM_p >>,MKP000278010848,308.0,20.000,115.5,39.7,42.4,2023-03-23 02:11:51.945,1708.90,308.0,12211,6833903,>>Fim ES e DIM>>
6,> ES_DIM_p >>,MKP000278010849,874.0,5.200,34.0,54.0,65.5,2023-03-23 02:11:51.933,1328.90,874.0,12359,6832195,>>Fim ES e DIM>>
7,> ES_DIM_p >>,MKP000278010951,1410.0,0.011,93.8,33.6,30.1,2023-03-23 04:06:36.150,1213.90,1410.0,12460,6921287,>>Fim ES e DIM>>
8,> ES_DIM_p >>,MKP000278011093,5805.0,0.270,23.4,33.0,50.0,2023-03-23 02:55:27.412,178.90,5805.0,9634,7730931,>>Fim ES e DIM>>
9,> ES_DIM_p >>,MKP000323019356,666.0,104.000,121.0,97.0,167.0,2023-03-07 14:41:30.038,2650.89,666.0,660068330,6752631,>>Fim ES e DIM>>
10,> ES_DIM_p >>,MKP000323019391,1000.0,78.000,86.0,95.0,125.0,2023-03-07 14:42:26.973,2066.79,1000.0,660068400,6753275,>>Fim ES e DIM>>

In [ ]:
# Totalizador por Linha/Coluna
p1_t.shape

(11, 19)

In [ ]:
# Totalizador por Linha/Coluna
h1_t.shape

(11, 13)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
### CONCAT  // Pré Pronto > Não se aplica
# KEYS 
# dflist = []

### modelo antigo: dfm = pd.concat([df, dff], keys=['portal', 'hubba'])

# testar: pht = pd.concat([p1_t, h1_t], keys=['>> ES e DIM H >>', 'es_dim_p	'])

#pht = pd.concat([p1_t, h1_t],)
#display(pht)

In [ ]:
# GERAR LISTA SIMPLIFICADA // Pré Pronto > Não se aplica
p1_t2 = p1_t=['mkp']
display(p1_t2)

['mkp']

In [ ]:
### MERGE  [MESCLAR INNER]

# INNER = dfmarge = pd.merge(df, dff, on="mkp") > informações ==
# outer
# left
# right

# opçoes se o nome do campo for diferente do outro: dfmarge = pd.merge(df, dff, left_on="mkp", right_on="mkp")

# parâmetro para incluir inf. que existam apenas nas duas tabelas: pd.merge(df, dff, on="mkp", how="inner")
# parâmetro para incluir inf. que existam apenas na tabelas da esquerda: pd.merge(df, dff, on="mkp", how="left")
# parâmetro para incluir inf. que existam apenas na tabelas da direita: pd.merge(df, dff, on="mkp", how="right")


tph0 = pd.merge(p1_t, h1_t, on="mkp", how="inner")
display(tph0)

,Val_Estoq,Val_Peso_Dime,Val_Preco,Val_CNPJ,Val_Ref,Val_Cat,Val_Marca,Val_Tipo,ES_e_DIM,mkp,...,peso_p,altu_p,larg_p,prof_p,dt_alt_p,preco_p,qt_es_n_p,refe_p,idpr_p,es_e_dim
0,OK,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010849,...,5.200,34.0,54.0,65.5,2023-03-23 02:11:51.933,1328.90,874.0,12359,6832195,>>Fim ES e DIM>>
1,NOK_Estoq,NOK_Dime,OK,OK,NaN,OK,OK,OK,>> ES e DIM H >>,MKP000278003132,...,0.690,12.5,23.0,23.5,2023-03-23 02:27:30.565,142.90,116.0,4097,6427435,>>Fim ES e DIM>>
2,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000323019356,...,104.000,121.0,97.0,167.0,2023-03-07 14:41:30.038,2650.89,666.0,660068330,6752631,>>Fim ES e DIM>>
3,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000323019391,...,78.000,86.0,95.0,125.0,2023-03-07 14:42:26.973,2066.79,1000.0,660068400,6753275,>>Fim ES e DIM>>
4,OK,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010951,...,0.011,93.8,33.6,30.1,2023-03-23 04:06:36.150,1213.90,1410.0,12460,6921287,>>Fim ES e DIM>>
5,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278011093,...,0.270,23.4,33.0,50.0,2023-03-23 02:55:27.412,178.90,5805.0,9634,7730931,>>Fim ES e DIM>>
6,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010848,...,20.000,115.5,39.7,42.4,2023-03-23 02:11:51.945,1708.90,308.0,12211,6833903,>>Fim ES e DIM>>
7,NOK_Estoq,OK,OK,OK,NaN,OK,OK,OK,>> ES e DIM H >>,MKP000278000459,...,0.050,14.2,18.0,32.3,2023-03-01 12:24:29.522,39.90,0.0,688,6432416,>>Fim ES e DIM>>
8,OK,NaN,OK,OK,NaN,NaN,NaN,NaN,>> ES e DIM H >>,MKP000278003067,...,0.290,20.5,18.0,8.0,2023-03-22 19:35:42.620,0.00,0.0,3973,6427419,>>Fim ES e DIM>>
9,NOK_Estoq,NOK_Dime,OK,OK,NaN,NaN,OK,OK,>> ES e DIM H >>,MKP000278004180,...,0.645,23.5,33.0,53.5,2023-03-23 02:30:40.615,66.68,11759.0,4956,6428590,>>Fim ES e DIM>>
10,OK,NOK_Dime,OK,OK,NaN,NaN,NOK_Marc,OK,>> ES e DIM H >>,MKP000278003595,...,1.435,23.5,25.5,55.5,2023-03-22 19:35:42.401,628.90,223.0,4622,6428093,>>Fim ES e DIM>>

ORDENAR p/ nr.

In [ ]:
tph0.nlargest(5,'peso_h')

,Val_Estoq,Val_Peso_Dime,Val_Preco,Val_CNPJ,Val_Ref,Val_Cat,Val_Marca,Val_Tipo,ES_e_DIM,mkp,...,peso_p,altu_p,larg_p,prof_p,dt_alt_p,preco_p,qt_es_n_p,refe_p,idpr_p,es_e_dim
2,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000323019356,...,104.000,121.0,97.0,167.0,2023-03-07 14:41:30.038,2650.89,666.0,660068330,6752631,>>Fim ES e DIM>>
3,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000323019391,...,78.000,86.0,95.0,125.0,2023-03-07 14:42:26.973,2066.79,1000.0,660068400,6753275,>>Fim ES e DIM>>
6,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010848,...,20.000,115.5,39.7,42.4,2023-03-23 02:11:51.945,1708.90,308.0,12211,6833903,>>Fim ES e DIM>>
4,OK,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010951,...,0.011,93.8,33.6,30.1,2023-03-23 04:06:36.150,1213.90,1410.0,12460,6921287,>>Fim ES e DIM>>
0,OK,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010849,...,5.200,34.0,54.0,65.5,2023-03-23 02:11:51.933,1328.90,874.0,12359,6832195,>>Fim ES e DIM>>

In [ ]:
## Tamanho dataframe

tph0.shape

(11, 31)

In [ ]:
# Listar 5 últimas linhas
tph0.tail(5)

,Val_Estoq,Val_Peso_Dime,Val_Preco,Val_CNPJ,Val_Ref,Val_Cat,Val_Marca,Val_Tipo,ES_e_DIM,mkp,...,peso_p,altu_p,larg_p,prof_p,dt_alt_p,preco_p,qt_es_n_p,refe_p,idpr_p,es_e_dim
6,NOK_Estoq,OK,OK,OK,OK,OK,OK,OK,>> ES e DIM H >>,MKP000278010848,...,20.000,115.5,39.7,42.4,2023-03-23 02:11:51.945,1708.90,308.0,12211,6833903,>>Fim ES e DIM>>
7,NOK_Estoq,OK,OK,OK,NaN,OK,OK,OK,>> ES e DIM H >>,MKP000278000459,...,0.050,14.2,18.0,32.3,2023-03-01 12:24:29.522,39.90,0.0,688,6432416,>>Fim ES e DIM>>
8,OK,NaN,OK,OK,NaN,NaN,NaN,NaN,>> ES e DIM H >>,MKP000278003067,...,0.290,20.5,18.0,8.0,2023-03-22 19:35:42.620,0.00,0.0,3973,6427419,>>Fim ES e DIM>>
9,NOK_Estoq,NOK_Dime,OK,OK,NaN,NaN,OK,OK,>> ES e DIM H >>,MKP000278004180,...,0.645,23.5,33.0,53.5,2023-03-23 02:30:40.615,66.68,11759.0,4956,6428590,>>Fim ES e DIM>>
10,OK,NOK_Dime,OK,OK,NaN,NaN,NOK_Marc,OK,>> ES e DIM H >>,MKP000278003595,...,1.435,23.5,25.5,55.5,2023-03-22 19:35:42.401,628.90,223.0,4622,6428093,>>Fim ES e DIM>>

In [ ]:
# Tipos de colunas
tph0.dtypes

NameError: ignored

In [ ]:
# mapear as colunadas do dataframe (1-2)

# modelo ideal antes de Comparar: 
#['mkp', 'peso_p', 'peso_h', ''alt_p', altu_h', 'larg_p', 'larg_h', 'prof_p', 'profu_h', 'preco_h', 'preco_p', 'titulo_h']

tph0.columns

Index(['Val_Estoq', 'Val_Peso_Dime', 'Val_Preco', 'Val_CNPJ', 'Val_Ref',
       'Val_Cat', 'Val_Marca', 'Val_Tipo', 'ES_e_DIM', 'mkp', 'estoq_h',
       'peso_h', 'altu_h', 'larg_h', 'profu_h', 'preco_h', 'dt_atu_h',
       'dt_atu_pe', 'Fim_ES_e_DIM', 'es_dim_p', 'estoq_p', 'peso_p', 'altu_p',
       'larg_p', 'prof_p', 'dt_alt_p', 'preco_p', 'qt_es_n_p', 'refe_p',
       'idpr_p', 'es_e_dim'],
      dtype='object')

In [ ]:
### COMPARE COLUMNS - INCLUIR Comparadores

# https://www.youtube.com/watch?v=2xwto0MK_9U
# mapear columns 
#dfw1.columns

# a fazer / aceita todas juntas


# prontos

tph0['V_ES'] = tph0['estoq_p'] == tph0 ['estoq_h']
tph0['V_Pesos'] = tph0['peso_p'] == tph0 ['peso_h']
tph0['V_alt'] = tph0['altu_p'] == tph0 ['altu_h']
tph0['V_larg'] = tph0['larg_p'] == tph0 ['larg_h']
tph0['V_Profu'] = tph0['prof_p'] == tph0 ['profu_h']
tph0['V_preco'] = tph0['preco_p'] == tph0 ['preco_h']


#ph1

# ideal:
# dfw1['Compare_Pesos'] = dfw1['peso_h'] == dfw1 ['peso_p']
#dfw1

In [ ]:
# mapear as colunadas do dataframe (2-2) / Pós Comparadores

# modelo ideal antes de Comparar: 
#['mkp', 'peso_p', 'peso_h', ''alt_p', altu_h', 'larg_p', 'larg_h', 'prof_p', 'profu_h', 'preco_h', 'preco_p', 'titulo_h']

tph0.columns

Index(['Val_Estoq', 'Val_Peso_Dime', 'Val_Preco', 'Val_CNPJ', 'Val_Ref',
       'Val_Cat', 'Val_Marca', 'Val_Tipo', 'ES_e_DIM', 'mkp', 'estoq_h',
       'peso_h', 'altu_h', 'larg_h', 'profu_h', 'preco_h', 'dt_atu_h',
       'dt_atu_pe', 'Fim_ES_e_DIM', 'es_dim_p', 'estoq_p', 'peso_p', 'altu_p',
       'larg_p', 'prof_p', 'dt_alt_p', 'preco_p', 'qt_es_n_p', 'refe_p',
       'idpr_p', 'es_e_dim', 'V_ES', 'V_Pesos', 'V_alt', 'V_larg', 'V_Profu',
       'V_preco'],
      dtype='object')

In [ ]:
# Ajustar Ordem das Colunas / Alterar (1-2)

tph1 = tph0[['V_preco', 'V_Profu', 'V_larg', 'V_alt', 'V_Pesos', 'V_ES', 
'mkp', 'estoq_p', 'estoq_h', 'peso_p',  'peso_h', 'altu_p', 'altu_h', 'larg_p', 
'larg_h', 'prof_p',  'profu_h', 'preco_p', 'preco_h', 'qt_es_n_p', 'dt_atu_h', 
'dt_alt_p', 'dt_atu_pe']]
tph1

,V_preco,V_Profu,V_larg,V_alt,V_Pesos,V_ES,mkp,estoq_p,estoq_h,peso_p,...,larg_p,larg_h,prof_p,profu_h,preco_p,preco_h,qt_es_n_p,dt_atu_h,dt_alt_p,dt_atu_pe
0,True,True,True,True,True,True,MKP000278010849,874.0,874.0,5.200,...,54.0,54.00,65.5,65.5,1328.90,1328.90,874.0,2023-03-16 17:15:43,2023-03-23 02:11:51.933,2023-03-23 02:37:25
1,True,False,False,False,False,True,MKP000278003132,116.0,116.0,0.690,...,23.0,15.00,23.5,15.0,142.90,142.90,116.0,2020-04-12 08:13:03,2023-03-23 02:27:30.565,2023-03-23 02:37:24
2,True,True,True,True,True,False,MKP000323019356,666.0,0.0,104.000,...,97.0,97.00,167.0,167.0,2650.89,2650.89,666.0,2023-03-16 17:20:36,2023-03-07 14:41:30.038,2023-02-17 05:22:51
3,True,True,True,True,True,False,MKP000323019391,1000.0,0.0,78.000,...,95.0,95.00,125.0,125.0,2066.79,2066.79,1000.0,2023-03-16 17:20:36,2023-03-07 14:42:26.973,2023-02-17 08:02:27
4,True,True,True,True,False,False,MKP000278010951,1410.0,0.0,0.011,...,33.6,33.60,30.1,30.1,1213.90,1213.90,1410.0,2023-03-16 17:15:41,2023-03-23 04:06:36.150,2023-03-22 19:36:01
5,True,True,True,True,True,True,MKP000278011093,5805.0,5805.0,0.270,...,33.0,33.00,50.0,50.0,178.90,178.90,5805.0,2023-03-16 17:15:39,2023-03-23 02:55:27.412,2023-03-23 03:07:38
6,True,True,True,True,True,True,MKP000278010848,308.0,308.0,20.000,...,39.7,39.70,42.4,42.4,1708.90,1708.90,308.0,2023-03-16 17:15:45,2023-03-23 02:11:51.945,2023-03-23 02:37:23
7,True,True,True,True,True,True,MKP000278000459,0.0,0.0,0.050,...,18.0,18.00,32.3,32.3,39.90,39.90,0.0,2023-03-16 16:31:35,2023-03-01 12:24:29.522,2023-03-01 12:46:58
8,False,False,False,False,False,True,MKP000278003067,0.0,0.0,0.290,...,18.0,NaN,8.0,NaN,0.00,97.90,0.0,NaN,2023-03-22 19:35:42.620,2023-03-22 19:56:30
9,True,False,False,False,False,True,MKP000278004180,11759.0,11759.0,0.645,...,33.0,3.50,53.5,52.0,66.68,66.68,11759.0,2020-04-11 17:41:03,2023-03-23 02:30:40.615,2023-03-23 02:37:24
10,True,False,False,False,False,True,MKP000278003595,223.0,223.0,1.435,...,25.5,54.79,55.5,22.2,628.90,628.90,223.0,2020-04-11 12:11:03,2023-03-22 19:35:42.401,2023-03-22 19:35:59

In [ ]:
# substituir informações de colunas/campos // Não pronto e não aplicável 

#dfmarge["peso_p"] = dfmarge["peso_p"].str.replace("NaN", "0")
#display(dfmarge)

In [ ]:
# ORDENAR COLUNAS AUTOMATICAMENTE P/ ORDEM // Não pronto e não aplicável 

# https://www.youtube.com/watch?v=A1BpNOuxmS0

df3 = dfmarge.columns.to_list()

# cfe preferencial pode colocar em Ordem automática, usando .SORT()

# Exemplo:

df3.sort()
df3

['mkp', 'origem_x', 'origem_y', 'peso_h', 'peso_p']

In [ ]:
# Ajustar Ordem das Colunas / Alterar (1-2)

tph2 = tph1[['V_Pesos','mkp', 'estoq_p', 'estoq_h', 'peso_p',  'peso_h', 'altu_p', 'altu_h', 'larg_p', 
'larg_h', 'prof_p',  'profu_h', 'preco_p', 'preco_h', 'qt_es_n_p', 'dt_atu_h', 
'dt_alt_p', 'dt_atu_pe',  'V_ES']]
tph2

,V_Pesos,mkp,estoq_p,estoq_h,peso_p,peso_h,altu_p,altu_h,larg_p,larg_h,prof_p,profu_h,preco_p,preco_h,qt_es_n_p,dt_atu_h,dt_alt_p,dt_atu_pe,V_ES
0,True,MKP000278010849,874.0,874.0,5.200,5.200,34.0,34.0,54.0,54.00,65.5,65.5,1328.90,1328.90,874.0,2023-03-16 17:15:43,2023-03-23 02:11:51.933,2023-03-23 02:37:25,True
1,False,MKP000278003132,116.0,116.0,0.690,0.500,12.5,15.0,23.0,15.00,23.5,15.0,142.90,142.90,116.0,2020-04-12 08:13:03,2023-03-23 02:27:30.565,2023-03-23 02:37:24,True
2,True,MKP000323019356,666.0,0.0,104.000,104.000,121.0,121.0,97.0,97.00,167.0,167.0,2650.89,2650.89,666.0,2023-03-16 17:20:36,2023-03-07 14:41:30.038,2023-02-17 05:22:51,False
3,True,MKP000323019391,1000.0,0.0,78.000,78.000,86.0,86.0,95.0,95.00,125.0,125.0,2066.79,2066.79,1000.0,2023-03-16 17:20:36,2023-03-07 14:42:26.973,2023-02-17 08:02:27,False
4,False,MKP000278010951,1410.0,0.0,0.011,11.300,93.8,93.8,33.6,33.60,30.1,30.1,1213.90,1213.90,1410.0,2023-03-16 17:15:41,2023-03-23 04:06:36.150,2023-03-22 19:36:01,False
5,True,MKP000278011093,5805.0,5805.0,0.270,0.270,23.4,23.4,33.0,33.00,50.0,50.0,178.90,178.90,5805.0,2023-03-16 17:15:39,2023-03-23 02:55:27.412,2023-03-23 03:07:38,True
6,True,MKP000278010848,308.0,308.0,20.000,20.000,115.5,115.5,39.7,39.70,42.4,42.4,1708.90,1708.90,308.0,2023-03-16 17:15:45,2023-03-23 02:11:51.945,2023-03-23 02:37:23,True
7,True,MKP000278000459,0.0,0.0,0.050,0.050,14.2,14.2,18.0,18.00,32.3,32.3,39.90,39.90,0.0,2023-03-16 16:31:35,2023-03-01 12:24:29.522,2023-03-01 12:46:58,True
8,False,MKP000278003067,0.0,0.0,0.290,NaN,20.5,NaN,18.0,NaN,8.0,NaN,0.00,97.90,0.0,NaN,2023-03-22 19:35:42.620,2023-03-22 19:56:30,True
9,False,MKP000278004180,11759.0,11759.0,0.645,0.613,23.5,14.5,33.0,3.50,53.5,52.0,66.68,66.68,11759.0,2020-04-11 17:41:03,2023-03-23 02:30:40.615,2023-03-23 02:37:24,True
10,False,MKP000278003595,223.0,223.0,1.435,1.945,23.5,4.8,25.5,54.79,55.5,22.2,628.90,628.90,223.0,2020-04-11 12:11:03,2023-03-22 19:35:42.401,2023-03-22 19:35:59,True

In [ ]:
# selecionando dados em colunas

#m7 = m1[m1['sku'].str.startswith('MKP')] // funcionou 

# https://www.youtube.com/watch?v=NJyX0qVsODc

#m7 = m1[m1['sku'].str.startswith('MKP')]
tph2 = tph2[tph2['V_Pesos']==False]


display(tph2)

,V_Pesos,mkp,estoq_p,estoq_h,peso_p,peso_h,altu_p,altu_h,larg_p,larg_h,prof_p,profu_h,preco_p,preco_h,qt_es_n_p,dt_atu_h,dt_alt_p,dt_atu_pe,V_ES
1,False,MKP000278003132,116.0,116.0,0.690,0.500,12.5,15.0,23.0,15.00,23.5,15.0,142.90,142.90,116.0,2020-04-12 08:13:03,2023-03-23 02:27:30.565,2023-03-23 02:37:24,True
4,False,MKP000278010951,1410.0,0.0,0.011,11.300,93.8,93.8,33.6,33.60,30.1,30.1,1213.90,1213.90,1410.0,2023-03-16 17:15:41,2023-03-23 04:06:36.150,2023-03-22 19:36:01,False
8,False,MKP000278003067,0.0,0.0,0.290,NaN,20.5,NaN,18.0,NaN,8.0,NaN,0.00,97.90,0.0,NaN,2023-03-22 19:35:42.620,2023-03-22 19:56:30,True
9,False,MKP000278004180,11759.0,11759.0,0.645,0.613,23.5,14.5,33.0,3.50,53.5,52.0,66.68,66.68,11759.0,2020-04-11 17:41:03,2023-03-23 02:30:40.615,2023-03-23 02:37:24,True
10,False,MKP000278003595,223.0,223.0,1.435,1.945,23.5,4.8,25.5,54.79,55.5,22.2,628.90,628.90,223.0,2020-04-11 12:11:03,2023-03-22 19:35:42.401,2023-03-22 19:35:59,True

In [ ]:
# Selecionando uma ou n colunas

### 1 Coluna 
# tph2['mkp'].head()

### n colunas

tph2[["mkp", "peso_p", "peso_h"]].head()

                mkp  peso_p  peso_h
1   MKP000278003132   0.690   0.500
4   MKP000278010951   0.011  11.300
8   MKP000278003067   0.290     NaN
9   MKP000278004180   0.645   0.613
10  MKP000278003595   1.435   1.945

In [ ]:
# selecionando colunas (únicas) por notação de ponto

tph0.mkp.head(10)

0    MKP000278010849
1    MKP000278003132
2    MKP000323019356
3    MKP000323019391
4    MKP000278010951
5    MKP000278011093
6    MKP000278010848
7    MKP000278000459
8    MKP000278003067
9    MKP000278004180
Name: mkp, dtype: object

In [ ]:
# Adicionando uma coluna (concatenando) [1-2]

tph0["mkp_peso"] = tph0["mkp"] + tph0["peso_p"]

In [ ]:
# selecionar col (2)

tph0[["mkp_peso", "peso_p", "peso_h", "mkp"]].head()

                         mkp_peso   peso_p  peso_h              mkp
0  MKP000278010849MKP000278010849    5.200     5.2  MKP000278010849
1  MKP000278003132MKP000278003132    0.690     0.5  MKP000278003132
2  MKP000323019356MKP000323019356  104.000   104.0  MKP000323019356
3  MKP000323019391MKP000323019391   78.000    78.0  MKP000323019391
4  MKP000278010951MKP000278010951    0.011    11.3  MKP000278010951

In [ ]:
# Adicionando uma coluna (concatenando) [2-2]

tph0["mkp_load"] = "'" + tph0["mkp"] + "',"

In [ ]:
# selecionar col (2)

tph0[["mkp_load", "mkp"]].head(100)

              mkp_load              mkp
0   'MKP000278010849',  MKP000278010849
1   'MKP000278003132',  MKP000278003132
2   'MKP000323019356',  MKP000323019356
3   'MKP000323019391',  MKP000323019391
4   'MKP000278010951',  MKP000278010951
5   'MKP000278011093',  MKP000278011093
6   'MKP000278010848',  MKP000278010848
7   'MKP000278000459',  MKP000278000459
8   'MKP000278003067',  MKP000278003067
9   'MKP000278004180',  MKP000278004180
10  'MKP000278003595',  MKP000278003595

In [ ]:
# Adicionando uma coluna (concatenando) [2-2] / Subtraíndo 

tph0["result_peso"] = tph0["peso_p"] - tph0["peso_h"]

In [ ]:
# selecion col 

tph0[["mkp", "result_peso","peso_p", "peso_h"]]

                mkp  result_peso   peso_p   peso_h
0   MKP000278010849        0.000    5.200    5.200
1   MKP000278003132        0.190    0.690    0.500
2   MKP000323019356        0.000  104.000  104.000
3   MKP000323019391        0.000   78.000   78.000
4   MKP000278010951      -11.289    0.011   11.300
5   MKP000278011093        0.000    0.270    0.270
6   MKP000278010848        0.000   20.000   20.000
7   MKP000278000459        0.000    0.050    0.050
8   MKP000278003067          NaN    0.290      NaN
9   MKP000278004180        0.032    0.645    0.613
10  MKP000278003595       -0.510    1.435    1.945

In [ ]:
# usando o Loc (não considera índice zero) / trazendo linhas e colunas específicas

#link: https://youtu.be/02LxjqYtvfQ

# linhas 
   # tph0.loc[0:3]

# linhas específicas 
    # tph0.loc[[1, 3, 4]]

# linhas e col
    ## tph0.loc[2:6, "mkp"]

# linhas e 2 colunas ou mais (diferente forma / retorna intervalo col) 
#tph0.loc[2:6, "mkp":"preco_h"]

# linhas e 2 colunas ou mais
tph0.loc[2:6, ["mkp", "peso_p"]]

               mkp   peso_p
2  MKP000323019356  104.000
3  MKP000323019391   78.000
4  MKP000278010951    0.011
5  MKP000278011093    0.270
6  MKP000278010848   20.000

In [ ]:
# selecionar dados com Iloc (apenas índices e não considera posição zero)

tph0.iloc[2:6, 3:5]

  Val_CNPJ Val_Ref
2       OK      OK
3       OK      OK
4       OK      OK
5       OK      OK

In [ ]:
### fim

### fim

### fim

In [ ]:
# Exportando DataFrame p/ Excel e CSV

# 1  # Apenas coluna
## dfw2['origem_y', 'origem_x', 'titulo_h', 'mkp', 'peso_h', 'peso_p', 'Compare_Peso'].to_excel('teste2.xlsx', index = False)

# EXPORTAR

es1.to_excel('result_result_mkps_ES_H_16-3.xlsx', index = False)

#dfw3.columns

NameError: ignored

In [ ]:
# ALTERAR NOME COLUNAS

# https://www.youtube.com/watch?v=CzlMPnVGb1w

#df9=df9.rename(columns={'boo':'teste'})
#df9

In [ ]:
###### FILTRANDO COLUNAS p/ novo dataframe 

# 1  # Apenas coluna

#e1['mkp'].to_excel('e1.xlsx', index = False)


# ####  2  Dataframe interiro (marge)

exp1.to_excel('Result_ES_h_x_p_16-3.xlsx', index = False)

#esm.to_csv('Result_mkps_h_ES_16-3.csv', index = False)

In [ ]:
# Filtrando dados por Colunas

# https://www.youtube.com/watch?v=NJyX0qVsODc

df10[df10['teste'] == False]

NameError: ignored

In [ ]:
### COMPARE COLUMNS // alternativo

# https://www.youtube.com/watch?v=2xwto0MK_9U


df9['test2'] = df9['mkp'] == df9 ['peso_h']
df9

NameError: ignored